# Supabase Project Settings

# Supabase API URL
SUPABASE_URL= https://ynqcwlpuzgcdqoslmgqy.supabase.co

# Supabase Project Public API Key (anon key)
SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlucWN3bHB1emdjZHFvc2xtZ3F5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTczMzI3NzAsImV4cCI6MjA3MjkwODc3MH0.R5iu6lfMuQy6monisDOUA2sf6_94ZIzFDiC0QJK_OZg

# Supabase DB Connection String
SUPABASE_DB_URL= postgresql://postgres:[YOUR_PASSWORD]@db.ynqcwlpuzgcdqoslmgqy.supabase.co:5432/postgres

